/* Square.css */
.square {
    /* Set equal width and height */
    width: 300px;
    height: 300px;

    /* Add a background color to make it visible */
    background-color: white;

    /* Optional: Center the text inside */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin: auto;
    /* Centers text within the flex container */
    color: black;
}

.square-image {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}